# Prerequisites
*.d


#foldesr
.vs/
Debug/
x64/
Pipe_Mesh_Integrator/.vs/
Pipe_Mesh_Integrator/Debug/
Pipe_Mesh_Integrator/x64/


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

*.vcxproj.user
# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
